<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container mt-4 mb-4">
  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="container mt-4">
      <div class="row row-cols-1 row-cols-lg-3 g-4">
        <% likes.forEach(like => {%>
        <%- include('../partials/tweet-card', like.tweet); %>
        <%}) %>
      </div>
    </div>
    <%- include('../partials/page-navigation') %>
  </main>
</body>

</html>