<nav class="navbar navbar-expand-lg rounded bg-light">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a class="text-black" href="https://twitter.com/<%= user.username %>">
        <%= user.name %></a>'s likes
    </div>

    <div class="d-flex justify-content-end">
      <form class="me-2" action="/download" method="post">
        <button class="btn btn-outline-secondary" type="submit">Refresh Likes</button>
      </form>
      <form action="/logout" method="post">
        <button class="btn btn-outline-secondary" type="submit">Logout</button>
      </form>
    </div>
  </div>
</nav>